JIRA_DOMAIN=cosmo.atlassian.net
JIRA_API_EMAIL=tuo-account@dos.design
JIRA_API_TOKEN=crea_un_token_atlassian_e_configuralo_solo_su_netlify
JSM_SERVICE_DESK_ID=1
JSM_REQUEST_TYPE_BUG=1
JSM_REQUEST_TYPE_FEATURE=2
JSM_REQUEST_TYPE_SUPPORT=3
FEEDBACK_ALLOWED_ORIGINS=https://app-dosepranza.netlify.app,https://marcotranquilli.github.io
